
.TopBar {
    width: 100%;
}

.TopBar .MuiToolbar-regular {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

.iAm-logo {
    height:50px;
    width:auto;
    fill:#FFFFFF;
}