.KeyboardVisualizer {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: space-around;
}


.hideKey {
    height: 100px;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.showKey {
    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}